body {
	margin: 0px;
	height: 100%;
}

.container {
	padding: 10px;	
	width: body.innerWidth;
	background: gray;
	color: white;
}

canvas {
	border: 2px solid red;
	height: body.innerHeight;
}

header {
	height: 50px;
	display: flex;
}

header > div {
	border: 2px solid red;
}

footer {
	height: 30px;
	text-align: center;
}